
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default row_style"  >
        <div class="row individual_row center-body">

            <% for(var i=0 ; i< pageInput.length; i++) { %>
            <% if(pageInput){ %>


            <div class=" col-sm-offset-1 col-sm-5 col-md-4 col-lg-3 logo_name">
                <a href="#">
                    <img src="<%= pageInput[i].imgUrl %>">
                    <h4 style="padding-left:15%"><%= pageInput[i].displayName %></h4>
                </a>
            </div>

            <% }else { %>
            <div class=" col-sm-offset-1 col-sm-5 col-md-4 col-lg-3 logo_name">
                <h4>Coming Soon!</h4>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
</div>




