<link rel="stylesheet" href="/css/integration/integration.css">
<script src="/js/integration//integration.js"></script>


<div class="row" style="width: auto;height: auto">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-md-12 col-sm-12 t-heading">
        <div class="row">

            <div class="col-md-4 col-sm-4 col-md-offset-5 col-sm-offset-5">
                <p style="font-weight: bold;font-size: 20px">VV Home care</p>
            </div>

        </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 ">
        <div class="row catagory_menu "
             style="background: url(/home/w5rtc/myownproject/vijayalaxmi/webapps/images/Border Embdesigntube (8).png)">
            <div class="col-sm-offset-3 col-sm-9 col-md-9 head_menu">

            <ul class="nav navbar-nav navbar-left list_options">
                <li id="ALL_COLLECTIONS">
                    <a class="t-menu-link" href="/"><span class="menu_icon"></span>HOME</a>
                </li>
                <li id="WOMEN">
                    <a class="t-menu-link" href="/women-wear"><span class="menu_icon"></span>PRODUCTS</a>
                </li>

                <li id="KIDS">
                    <a class="t-menu-link" href="/kids-wear"><span class="menu_icon"></span>CONTACT AS</a>
                </li>



            </ul>





        </div>

        <div class="row">
            <div class="col-sm-12  col-md-12 col-lg-12 menu_body" id="menu_body_details">

            </div>
        </div>
    </div>
</div>
</div>

